# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Django/Jinja2 templates - DO NOT auto-format
[*.html]
insert_final_newline = true
trim_trailing_whitespace = true
# Disable auto-formatting for HTML files
max_line_length = off

# Python files
[*.py]
charset = utf-8
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

# JSON, YAML, TOML files
[*.{json,yaml,yml,toml}]
charset = utf-8
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true
